## T01: Get all resources - 200 OK

![Get all resources](images/image.png)

## T02: Get resource by ID - 200 OK

![Get resource by ID](images/image-1.png)

## T03: Get missing resource - 404 Not Found

![Get missing resource](images/image-2.png)

## T04: Create resource - 201 Created

![Create resource](images/image-3.png)

## T05: Verify created resource - 200 OK

![Verify created resource](images/image-4.png)

## T06: Update resource - 200 OK

![Update resource](images/image-5.png)

## T07: Verify updated resource - 200 OK

![Verify updated resource](images/image-6.png)

## T08: Reject empty title - 400 Bad Request

![Reject empty title](images/image-7.png)

## T09: Update missing resource - 404 Not Found

![Update missing resource](images/image-8.png)

## T10: Delete resource - 204 No Content

![Delete resource](images/image-9.png)

## T11: Verify deleted resource - 404 Not Found

![Verify deleted resource](images/image-10.png)

## T12: Delete missing resource - 404 Not Found

![Delete missing resource](images/image-11.png)
